<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testfortankstations.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7c50f9c3-289b-4ae0-a075-08784b3b9042/resourceGroups/Jell_Tankstation/providers/Microsoft.Web/sites/testFortankStations</ResourceId>
    <UserName>$testFortankStations</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://testfortankstations.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>